@model List<TrungTamNgoaiNgu.DTO.Dto_DSPhongThi>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            a
        </th>
        <th>
           a
        </th>
        <th>
            a
        </th>
        <th>
            a
        </th>
        <th>
            a
        </th>
        <th>
            a
        </th>
        <th>
            a
        </th>
        <th>
            a
        </th>
        <th>
            a
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SoThuTu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id_ThiSinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id_PhongThi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SBD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenThiSinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiemNghe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiemNoi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiemDoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiemViet)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
